{% if errors() is not empty %}
    <div class="row my-3">
        <div class="col col-md-6 offset-md-3">
            <div class="alert alert-danger">
                <ul class="m-0">
                    {% for error in errors() %}
                        <li>{{ error|e }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}

{% if success() is not empty %}
    <div class="row my-3">
        <div class="col col-md-6 offset-md-3">
            <div class="alert alert-success">
                <ul class="m-0">
                    {% for success in success() %}
                        <li>{{ success|e }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
