<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Задачник</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url('home') }}">Создать</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                {% if admin.isLogedIn() == true %}
                    <a class="nav-link d-flex align-items-center" href="{{ url('logout') }}">
                        {{ icon('account_circle', 'font-size:18px;margin-right:4px;')|raw }} Выйти
                    </a>
                {% else %}
                    <a class="nav-link d-flex align-items-center" href="{{ url('login') }}">
                        {{ icon('account_box', 'font-size:18px;margin-right:4px;')|raw }} Войти
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
