{% extends "layouts/page.twig" %}

{% block content %}
    <div class="row my-5">
        <div class="col col-md-6 offset-md-3">
            <h2>Заметка #{{ task.id }}</h2>
            <hr>

            <p>
                <span class="text-muted">Имя пользователя:</span> {{ task.name }}<br>
                <span class="text-muted">Эл. почта:</span> {{ task.email }}<br>
                <span class="text-muted">Создано:</span> {{ task.createdAt|date('d.m.Y H:i:s') }}<br>
                <span class="text-muted">Изменено:</span> {{ task.updatedAt|date('d.m.Y H:i:s') }}
            </p>

            <form method="post" action="{{ url('update-task', {id: task.id}) }}">
                <div class="form-group">
                    <label for="description">Текст задачи</label>
                    <textarea class="form-control" id="description" name="description"
                              maxlength="1000">{{ task.description }}</textarea>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="status" name="status"
                               {% if task.status == status_done %}checked{% endif %} value="{{ status_done }}">
                        <label class="custom-control-label" for="status">Выполнено</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}
