{% extends "layouts/page.twig" %}

{% block content %}
    <div class="row my-5">
        <div class="col col-md-6 offset-md-3">
            <form method="post" action="{{ url('create-task') }}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Имя пользователя</label>
                        <input type="text" class="form-control" id="name" name="name" maxlength="50">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Эл. почта</label>
                        <input type="text" class="form-control" id="email" name="email" maxlength="50">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Текст задачи</label>
                    <textarea class="form-control" id="description" name="description" maxlength="1000"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Создать</button>
            </form>
        </div>
    </div>

    <hr>


    <div class="row mb-3">
        {% if admin.isLogedIn() == true %}
            <div class="col">
                <a class="text-danger" href="{{ url('clear') }}">Удалить все записи</a>
            </div>
        {% endif %}

        <div class="col d-flex justify-content-end align-items-center">
            <small class="text-muted mr-2">Сортировка:</small>
            <form class="form-inline" action="{{ url('home') }}">
                <div class="form-group mr-1">
                    <select class="custom-select custom-select-sm" name="sort">
                        <option selected></option>
                        <option value="name">Имя</option>
                        <option value="email">Эл. почта</option>
                        <option value="status">Статус</option>
                    </select>
                </div>
                <div class="form-group mr-2">
                    <select class="custom-select custom-select-sm" name="direction">
                        <option value="ASC">По возрастанию</option>
                        <option value="DESC">По убыванию</option>
                    </select>
                </div>
                <div class="btn-group btn-group-sm">
                    <button type="submit" class="btn btn-light" title="Сортировать">
                        {{ icon('format_line_spacing')|raw }}
                    </button>
                    <a class="btn btn-light" href="{{ url('home') }}" title="Сбросить">
                        {{ icon('refresh')|raw }}
                    </a>
                </div>
            </form>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-bordered">
            <caption>Список задач</caption>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Эл. почта</th>
                <th scope="col">Задача</th>
                <th scope="col">Статус</th>
                {#<th scope="col">Создано</th>#}
                {% if admin.isLogedIn() == true %}
                    <th scope="col">Действие</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for task in paginated_tasks %}
                <tr>
                    <th scope="row">{{ task.id }}</th>
                    <td>{{ task.name }}</td>
                    <td>{{ task.email }}</td>
                    <td>{{ task.description }}</td>
                    <td>
                        {% if task.status == status_in_progress %}
                            {% set status_color = 'dark' %}
                            {% set status_text = 'В процессе' %}
                        {% endif %}
                        {% if task.status == status_done %}
                            {% set status_color = 'success' %}
                            {% set status_text = 'Выполнено' %}
                        {% endif %}
                        <span class="text-{{ status_color }}">{{ status_text }}</span>

                        {% if task.isEditedByAdmin == true %}
                            <br>
                            <small class="text-muted">Отредактировано администратором</small>
                        {% endif %}
                    </td>
                    {#<td>
                        {{ task.createdAt|date('d.m.Y H:i:s') }}
                    </td>#}
                    {% if admin.isLogedIn() == true %}
                        <td>
                            <div class="d-flex justify-content-center">
                                <a class="mr-3" href="{{ url('edit-task', {'id': task.id}) }}" title="Редактировать">
                                    {{ icon('create', 'font-size:20px')|raw }}
                                </a>
                                <a class="text-danger" href="{{ url('delete-task', {'id': task.id}) }}" title="Удалить">
                                    {{ icon('delete', 'font-size:20px')|raw }}
                                </a>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="row">
        <div class="col">
            {% if paginated_tasks.haveToPaginate() == true %}
                {{ page_links|raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}
