{% extends "layouts/main.twig" %}

{% block body %}
    <div class="container">
        {% include "components/_alert.twig" %}

        <div class="row my-5">
            <div class="col col-md-6 offset-md-3">
                <form method="post" action="{{ url('auth') }}">
                    <div class="form-group">
                        <label for="username">Имя пользователя</label>
                        <input type="text" class="form-control" id="username" name="username" maxlength="50" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" name="password" maxlength="50">
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="submit" class="btn btn-primary">Войти</button>
                        <a href="{{ url('home') }}">На главную</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
