{% extends "layouts/main.twig" %}

{% block body %}
    {% include "components/_navbar.twig" %}

    <div class="container">
        {% include "components/_alert.twig" %}

        {% block content %}{% endblock %}
    </div>
{% endblock %}
